In [55]:
import pandas as pd

In [56]:
bank = pd.read_csv("C:\\Users\\hsbc_2019\\Desktop\\data analytics\\datasets\\bank\\bank.csv",delimiter  =";")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [57]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [74]:
#training and test datasets
X = bank[['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome']]
y = bank["y"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [77]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth = 2)
model.fit(X,y)

ValueError: could not convert string to float: 'unemployed'

In [76]:
# # Visualize Decision Tree
# from sklearn.tree import export_graphviz

# # Creates dot file named tree.dot
# export_graphviz(
#             tree,
#             out_file =  "myTreeName.dot",
#             feature_names = list(X.columns),
#             class_names = iris.target_names,
#             filled = True,
#             rounded = True)