In [2]:
a = 5
b = 2.1
c = True
d = 'Hello'
f = 2.956e55

In [3]:
print(type(a),type(b),type(c),type(d),type(f))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'float'>

In [4]:
a, type(a)

(5, int)

In [5]:
a = 2.3

In [6]:
type(a)

float

In [2]:
# Operators in Python
# Mathematical operators: + - * / % //
print(2 + 2)
print(3 - 2)
print(2 * 3)
print(2 ** 3)
print(3 / 2)
print(17 % 5)
print(17 // 5)

4
1
6
8
1.5
2
3

In [8]:
# Logical operators
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [9]:
# Logical operators
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [10]:
print(not True)
print(not False)

False
True

In [11]:
print(1 and 0)
print(1 and 1)
print(0 and 0)
print(123 and 145)
print(145 and 123)
print(143 and 0)

0
1
0
145
123
0

In [12]:
123 & 145

17

In [13]:
print(1 or 0)
print(1 or 1)
print(0 or 0)
print(123 or 145)
print(145 or 123)
print(143 or 0)

1
1
0
123
145
143

In [14]:
not 123

False

In [15]:
not 0

True

In [16]:
not -123

False

In [17]:
not ''

True

In [18]:
not 'Hello'

False

In [19]:
'' or 'Hello'

'Hello'

In [20]:
'' or ''

''

In [21]:
'' or False

False

In [22]:
# relational operators - ==, <, <=, >, >=, !=
a = 5
b = 3
print(a==b)
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a!=b)

False
False
False
True
True
True

In [23]:
c = 10
print(a!=b and a>c)

False

In [24]:
int('0101010110',base = 2)
int('1010',base = 2)
# 'b:{0}'.format(32)

10

In [25]:
342 | 10

350

In [26]:
bin(20)

'0b10100'

In [27]:
hex(16)

'0x10'

## LISTS

In [30]:
lst = [1,-5,'hello',2.5,False]
print(lst)
print("0th element of list:",lst[0])
print("list:",lst[::])
print("reverse the list:",lst[::-1])
print("remove the last element:",lst[:-1])
print("elements from index 1 to 4:",lst[1:4])
print("last element of list:",lst[-1])
lst.append(True)
print("list:",lst)
print("length of list:",len(lst))

#loop over the list
for x in lst:
    print("element:",x*(2))

[1, -5, 'hello', 2.5, False]
0th element of list: 1
list: [1, -5, 'hello', 2.5, False]
reverse the list: [False, 2.5, 'hello', -5, 1]
remove the last element: [1, -5, 'hello', 2.5]
elements from index 1 to 4: [-5, 'hello', 2.5]
last element of list: False
list: [1, -5, 'hello', 2.5, False, True]
length of list: 6
element: 2
element: -10
element: hellohello
element: 5.0
element: 0
element: 2

# conditional statements

a=10
if(a==1): #Check if this statment is true
    print(1)  
elif (a==2): # Will be checked if the preceeding condition was evaluated false
    print(2)
elif(a==3):
    print(3)
elif(a>=100):
    print(4)
elif(False):
    print(5)
else:
    print(a)

In [29]:
a, b

(10, 3)

In [30]:
if (a == 10):
    pass
else:
    print("Hello")

In [31]:
# Writing your own functions in Python
def print_fn(name, program, date='22=Aug-2019'):
    print("Hello ",name,"!, Welcome to the ",program," program held on",date)

In [32]:
print_fn("Infosys","Python")
print_fn("Infosys","Python",'26-Aug-2019')

Hello  Infosys !, Welcome to the  Python  program held on 22=Aug-2019
Hello  Infosys !, Welcome to the  Python  program held on 26-Aug-2019

In [33]:
x = 40
def print_fn(x):
    '''call by value'''
    global x 
    x = (x+20)
    print(x)
print_fn(x)
print(x)

SyntaxError: name 'x' is parameter and global (<ipython-input-33-89174350e51f>, line 7)

In [36]:
def change_list(lst):
    '''call by reference'''
    lst[0]=100
l1 = [1,2,3]
print(l1)
change_list(l1)
print(l1)

[1, 2, 3]
[100, 2, 3]

In [37]:
#Iteration statements
# For loop
for i in range(0,5):
    print(i)

0
1
2
3
4

In [38]:
sum = 0
for i in [1,2,3]:
    sum+=i
print(sum)

6

In [39]:
# x+=1 is equivalent to x = x+1
sum = 0
i=0
while(sum<10): # terminates when the while condition is false
    sum+=i
    i+=1
print(i)
print(sum)

5
10

In [40]:
#lists in python
l1 = [1,2,3,'Hello']

In [41]:
type(l1)

list

In [42]:
type(l1[0])

int

In [43]:
type(l1[-1])

str

In [44]:
# indexing of lists
# positive indices start from 0
print(l1[0],l1[3])

1 Hello

In [45]:
l1[5]

IndexError: list index out of range

In [46]:
# negative indices start at -1
l1[-1], l1[-2], l1[-3], l1[-4], l1[-5]

IndexError: list index out of range

In [47]:
#Subset lists

l1, l1[0:3]

([1, 2, 3, 'Hello'], [1, 2, 3])

In [48]:
l1[2:]

[3, 'Hello']

In [49]:
l1[:2]

[1, 2]

In [50]:
l1[-3:-1]

[2, 3]

In [51]:
l1[::-1]

['Hello', 3, 2, 1]

In [52]:
l1[:-3:-1]

['Hello', 3]

In [53]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [l1, l2,l1,l2]

In [54]:
l3

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [55]:
l3[1:][::-1]

[[4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [56]:
l4 = [1,2,1,11,33,13,1]

In [57]:
l4

[1, 2, 1, 11, 33, 13, 1]

# SET

In [58]:
set(l4)

{1, 2, 11, 13, 33}

In [59]:
s1 = {1,2,3,33,3,4,1}

In [60]:
s1

{1, 2, 3, 4, 33}

In [61]:
s1 = 'Hello'
s2 = 'Hello'
s3 = {s1,s2}

In [62]:
s3

{'Hello'}

# dictionary

In [42]:
d1 = {'a':1,
     'b':2,'c':3,'c':4}

In [43]:
d1

{'a': 1, 'b': 2, 'c': 4}

In [44]:
type(d1)

dict

In [45]:
d1['a']

1

In [46]:
d1['b']

2

In [47]:
for i in d1.keys():
    print(d1[i])

1
2
4

In [48]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [49]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [50]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 4)])

In [52]:
len(d1)

3

In [51]:
change_list()

NameError: name 'change_list' is not defined

Day 2 - Start with a few simple Python exercises

1. Write a function that accepts a number 'n' and returns a list containing all odd numbers from 0 to n
2. Write a function that accepts a string 'text' and returns the reverse of the string
3. Write a function that accepts a string 'text' and returns a dictionary that counts the number of occurances of each alphabet (letter) in the given text:
    E.g. if the entered string is 'Infosys' then the output will be {'I':1,'n':1,'f':1,'o':1,'s':2,'y':1}

Those who have completed the exercise can login to https://hsbc.onwingspan.com/ 
If you face any issues with logging in, please reach out to any of us.

In [72]:
def odd_num(n):
    l1=[]
    for i in range(1,n,2):
        l1.append(i)
    return l1

In [73]:
print(odd_num(10))

[1, 3, 5, 7, 9]

In [74]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [75]:
def reverse_text(text):
    return text[::-1]
print(reverse_text("Infosys"))

sysofnI

In [76]:
def letter_count(text):
    dict1={}
    for i in text:
        dict1[i] = text.count(i)
    return dict1

In [77]:
print(letter_count("infosys"))

{'i': 1, 'n': 1, 'f': 1, 'o': 1, 's': 2, 'y': 1}

#### List comprehension

In [78]:
def odd_num_gen(n):
    return [i for i in range(0,n+1) if i%2==1]

In [79]:
odd_num_gen(11)

[1, 3, 5, 7, 9, 11]

In [80]:
text = "Welcome to Wingspan powered by Infosys Limited!"
[t for t in text if t.isupper()]

['W', 'W', 'I', 'L']

In [55]:
list1 = [1,10,11,15,17,22]
list2 = [11,33,22,44,17]
[i for i in list1 if i in list2 and i%2==0]

[22]

In [56]:
[i for i in list1 if i in[i for i in list2 if i%2==0]]

[22]

# Map and filter

# tuples

In [37]:
t = (1,356,4,2,7,178)
t
t[4]

7

## lambda function:

In [53]:
add_func = lambda x,y: x+y
add_func(4,65)

69