In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%matplotlib

Using matplotlib backend: Qt5Agg

# adult data

In [111]:
adult = pd.read_csv("C:\\Users\\hsbc_2019\\Desktop\\data analytics\\Hands-on QP\\datasets\\adult.csv")
adult.head()
adult.columns
adult.describe()
adult.dtypes
adult.info()
adult.select_dtypes(include ='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital_gain      32561 non-null int64
capital_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_count      32561 non-null object
income_group      32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,workclass,education,marital_status,occupation,relationship,race,sex,native_count,income_group
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
5,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K
6,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,Jamaica,<=50K
7,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
8,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,>50K
9,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
10,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,United-States,>50K
11,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,India,>50K
12,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,United-States,<=50K
13,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,United-States,<=50K
14,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,?,>50K
15,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,Mexico,<=50K
16,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,United-States,<=50K
17,Private,HS-grad,Never-married,Machine-op-inspct,Unmarried,White,Male,United-States,<=50K
18,Private,11th,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
19,Self-emp-not-inc,Masters,Divorced,Exec-managerial,Unmarried,White,Female,United-States,>50K
20,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
21,Private,HS-grad,Separated,Other-service,Unmarried,Black,Female,United-States,<=50K
22,Federal-gov,9th,Married-civ-spouse,Farming-fishing,Husband,Black,Male,United-States,<=50K
23,Private,11th,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,<=50K
24,Private,HS-grad,Divorced,Tech-support,Unmarried,White,Female,United-States,<=50K
25,Local-gov,Bachelors,Married-civ-spouse,Tech-support,Husband,White,Male,United-States,>50K
26,Private,HS-grad,Never-married,Craft-repair,Own-child,White,Male,United-States,<=50K
27,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,South,>50K
28,Private,HS-grad,Divorced,Exec-managerial,Not-in-family,White,Male,United-States,<=50K
29,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
...,...,...,...,...,...,...,...,...,...
32531,?,Bachelors,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K
32532,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
32533,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,Japan,>50K
32534,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32535,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,United-States,<=50K
32536,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,United-States,>50K
32537,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,United-States,<=50K
32538,Private,Bachelors,Divorced,Prof-specialty,Unmarried,Black,Female,United-States,>50K
32539,?,Doctorate,Married-civ-spouse,?,Husband,White,Male,United-States,>50K
32540,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,United-States,<=50K
32541,?,HS-grad,Separated,?,Not-in-family,Black,Female,United-States,<=50K
32542,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K
32543,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,United-States,<=50K
32544,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,United-States,<=50K
32545,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States,>50K
32546,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,United-States,<=50K
32547,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Mexico,<=50K
32548,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,<=50K
32549,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,United-States,<=50K
32550,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
32551,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,United-States,<=50K
32552,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
32553,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,Taiwan,<=50K
32554,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
32555,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

# abalone_data

In [65]:
# Loading the  data
abalone_data = pd.read_csv('C:\\Users\\hsbc_2019\\Desktop\\data analytics\\Hands-on QP\\datasets\\abalone.csv')
abalone_data.columns
abalone_data.describe()
abalone_data.dtypes
abalone_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
Sex               4177 non-null object
Length            4177 non-null float64
Diameter          4177 non-null float64
Height            4177 non-null float64
Whole weight      4177 non-null float64
Shucked weight    4177 non-null float64
Viscera weight    4177 non-null float64
Shell weight      4177 non-null float64
Rings             4177 non-null int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

# one hot encoding

In [66]:
# from sklearn.preprocessing import OneHotEncoder
# onehotencoder = OneHotEncoder(categorical_features = ['Sex'])
# x = onehotencoder.fit_transform(x).toarray()
abalone_data=pd.get_dummies(abalone_data,columns = ['Sex'])
abalone_data.columns

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings', 'Sex_F', 'Sex_I', 'Sex_M'],
      dtype='object')

In [67]:
abalone_data.columns

Index(['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings', 'Sex_F', 'Sex_I', 'Sex_M'],
      dtype='object')

# ohc of adult

In [ ]:
adult = pd.get_dummies(adult,columns=['workclass','education','marital_status','occupation', 'relationship',
                                      'race','sex','native_count'])
adult.columns

# min max scaler

In [69]:
from sklearn.preprocessing import MinMaxScaler
data = abalone_data[['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Rings', 'Sex_F', 'Sex_I', 'Sex_M']]
scaler = MinMaxScaler()
print(scaler.fit(data))
MinMaxScaler(copy=True, feature_range=(0, 1))
print(scaler.data_max_)
print(scaler.transform(data))

MinMaxScaler(copy=True, feature_range=(0, 1))
[ 0.815   0.65    1.13    2.8255  1.488   0.76    1.005  29.      1.
  1.      1.    ]
[[0.51351351 0.5210084  0.0840708  ... 0.         0.         1.        ]
 [0.37162162 0.35294118 0.07964602 ... 0.         0.         1.        ]
 [0.61486486 0.61344538 0.11946903 ... 1.         0.         0.        ]
 ...
 [0.70945946 0.70588235 0.18141593 ... 0.         0.         1.        ]
 [0.74324324 0.72268908 0.13274336 ... 1.         0.         0.        ]
 [0.85810811 0.84033613 0.17256637 ... 0.         0.         1.        ]]

C:\Users\hsbc_2019\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

# split data train & test

In [70]:
from sklearn.model_selection import train_test_split
features = abalone_data[['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Sex_F', 'Sex_I', 'Sex_M']]
target = abalone_data['Rings']
X_train, X_test, y_train, y_test = train_test_split(features,target, train_size=0.80,test_size=0.20,random_state=100)
X_train.shape

(3341, 10)

# predict rings

In [71]:
from sklearn.linear_model import LinearRegression
import seaborn as sns

In [72]:
features = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Sex_I', 'Sex_M','Sex_F']
target = ['Rings']
model4 = LinearRegression()

model4.fit(abalone_data[features],abalone_data[target])
model4.score(abalone_data[features],abalone_data[target])

0.5370058848523118

#  predict income_group

In [107]:
d=adult['income_group']
dd=adult.drop(['income_group'],axis=1)

In [108]:
X_train, X_test, y_train, y_test = train_test_split(dd,d, train_size=0.7,test_size=0.3,random_state=100)
X_train.shape

(22792, 14)

In [109]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logsk = LogisticRegression()
logsk.fit(X_train, y_train)

C:\Users\hsbc_2019\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: ' United-States'

In [97]:
y_pred = logsk.predict_proba(X_test)

In [98]:
y_pred_df = pd.DataFrame(y_pred)

In [99]:

y_pred_1 = y_pred_df.iloc[:,[1]]
y_pred_1.head()

          1
0  0.000445
1  0.000016
2  0.000003
3  0.000063
4  0.008527

In [100]:

y_test_df = pd.DataFrame(y_test)
y_test_df.head()

      Rings
551      13
3245     13
1418     11
416      20
1553      7

In [101]:
y_pred_1.reset_index(drop=True, inplace=True)
y_test_df.reset_index(drop=True, inplace=True)

In [102]:

y_pred_final = pd.concat([y_test_df,y_pred_1],axis=1)
y_pred_final.head()

   Rings         1
0     13  0.000445
1     13  0.000016
2     11  0.000003
3     20  0.000063
4      7  0.008527

In [103]:
y_pred_final= y_pred_final.rename(columns={ 1 : 'Prob'})

y_pred_final['predicted'] = y_pred_final.Prob.map( lambda x: 1 if x >= 0.5 else 0)
# Let's see the head
y_pred_final.head()

   Rings      Prob  predicted
0     13  0.000445          0
1     13  0.000016          0
2     11  0.000003          0
3     20  0.000063          0
4      7  0.008527          0

# accuracy

In [104]:
from sklearn import metrics

confusion = metrics.confusion_matrix( y_pred_final.income_group , y_pred_final.predicted )
confusion
metrics.accuracy_score( y_pred_final.income, y_pred_final.predicted)

AttributeError: 'DataFrame' object has no attribute 'income_group'

In [ ]:

TP = confusion[0,0] # true positive 
TN = confusion[1,1] # true negatives
FP = confusion[0,1] # false positives
FN = confusion[1,0] # false negatives

In [77]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
features = ['Length', 'Diameter', 'Height', 'Whole weight', 'Shucked weight',
       'Viscera weight', 'Shell weight', 'Sex_I', 'Sex_M','Sex_F']
target = ['Rings']
model4 = GradientBoostingClassifier()

model4.fit(X[features],X[target])
y_pred = model4.predict_proba(X_test)

model4.score(y_pred,y[target])

C:\Users\hsbc_2019\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

TypeError: list indices must be integers or slices, not list

In [55]:
# import statsmodels.api as sm
# logit_model=sm.Logit(y,X)
# result=logit_model.fit()
# print(result.summary2())